

@media (max-width: 768px) {
    .map-selector-container select {
        font-size: 2vw;
    }
}

.map-selector-container select:focus {
    border-color: #E0E1DD; /* Cor da borda ao focar */
}

.map-selector-container select:last-child {
    margin-right: 0;
}

.bg-color-range-0{
    background-color: #0D1B2A;
}
.bg-color-range-1{
    background-color: #1B263B;
}
.bg-color-range-2{
    background-color: #415A77;
}
.bg-color-range-3{
    background-color: #778DA9;
}
.bg-color-range-4{
    background-color: #E0E1DD;
}

.color-range-0{
    color: #0D1B2A;
}
.color-range-1{
    background-color: #1B263B;
}
.color-range--2{
    background-color: #415A77;
}
.color-range-3{
    background-color: #778DA9;
}
.color-range-4{
    background-color: #E0E1DD;
}

.hamburger-btn {
    position: relative;
    left: 10px;
    background-color: #0D1B2A;
    color: #E0E1DD;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 101;
    border-radius: 8px;
    transition: background-color 0.3s ease;

}
.hamburger-btn:hover{
    background-color: #415A77;

}


@media (max-width: 768px) {
    .top-controller-content {
        flex-direction: column;
        align-items: center;
    }

    .map-selector-container {
        margin-right: auto;
        flex-direction: column;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: space-between;
        align-items: center;
    }

    select {
        width: 80%; /* Ensure selectors take full width on mobile */
        margin-bottom: 10px;
    }

    .share-icon {
        align-self: center; /* Center the icon on smaller screens */
        height: 100%;
    }
}