.fixed-sidebar.open {
    left: 0;
    visibility: visible;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 99;
    background: #0D1B2A;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    overflow-y: auto;
    border: none;
    opacity: 0.8;
    align-content: flex-start;
}


.control-panel img {
    cursor: pointer;
    width: 5vw;
    max-width: 40px;
    height: auto;
}

.control-panel button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.icon-panel {
    left: 8vw;
    top: 85vh;
}

.share-panel {
    left: 29vw;
    top: 1.1vw;
}

.slider-panel {
    left: 8vw;
    top: 15vh;
}

.operator-panel-title {
    width: 100%;
    color: #E0E1DD;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.setup-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 200px;
}

.setup-items img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.setup-items img:hover {
    transform: scale(1.5);
}

.eraser-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #23262B;
    transition: transform 0.3s ease;
}

.eraser-icon:hover {
    transform: scale(1.5);
}

.operator-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    min-height: 100px;
}

.operator-icon:hover {
    transform: scale(1.5);
}

.operator-icon {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}