.map-viewer-container {
    position: relative;
    width: 87%;
    height: 100%;
    margin: auto;
    transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

body{
    overflow: hidden;
}

.map-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.map-image {
    width: 100%; /* A imagem se ajusta ao contêiner */
    height: auto; /* Mantém a proporção correta da imagem */
    display: block;
    filter: brightness(1);
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bomb-icon,
.hatch-icon {
    position: absolute;
    width: 25px; /* Maior para telas menores */
    height: 25px;
    max-width: 30px; /* Limita o tamanho máximo */
    max-height: 30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    opacity: 70%;
    transform: translate(-50%, -50%); /* Centraliza no ponto */
}

.hatch-icon {
    background-color: transparent;
}

body {
    user-select: none;
}

img, button, a {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.icon-items {
    outline: 5px solid rgb(30, 152, 239, 70%);
    outline-offset: -3px;
    display: inline-block;
}

.icon-items-erasing {
    outline: 5px solid rgb(245, 85, 13, 70%);
    outline-offset: -3px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .bomb-icon, .hatch-icon {
        width: 25px; /* Maior para telas menores */
        height: 25px;
    }

    .map-viewer-container{
        margin-top: 15vw;
    }
}
