.map-viewer-container {
    position: relative;
    width: 87%;
    height: 100%;
    margin: auto;
    transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

body{
    overflow: hidden;
}

.map-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.map-image {
    width: 100%; /* A imagem se ajusta ao contêiner */
    height: auto; /* Mantém a proporção correta da imagem */
    display: block;
    filter: brightness(1);
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bomb-icon,
.hatch-icon {
    position: absolute;
    width: 25px; /* Maior para telas menores */
    height: 25px;
    max-width: 30px; /* Limita o tamanho máximo */
    max-height: 30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    opacity: 70%;
    transform: translate(-50%, -50%); /* Centraliza no ponto */
}

.hatch-icon {
    background-color: transparent;
}

body {
    user-select: none;
}

img, button, a {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.icon-items {
    border: 0.1em solid rgb(30, 152, 239);
    display: inline-block;
}

.icon-items-erasing {
    border: 0.1em solid rgb(245, 85, 13);
    display: inline-block;
}

.control-panel img {
    cursor: pointer;
    width: 5vw;
    max-width: 40px;
    height: auto;
}

.control-panel button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.wizard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.wizard-content {
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 350px;
    text-align: center;
}

.wizard-content h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.wizard-content h3 {
    margin: 0 auto 5px;
    width: 20%;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    color: #adacac;
    background-color: #ededed;
    outline: none;
    text-align: center;
    transition: border-color 0.3s ease;
}

.wizard-content button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.wizard-content button:hover {
    background-color: #0056b3;
}

.wizard-content button:last-child {
    background-color: #6c757d;
    margin-right: 0;
}

.wizard-content button:last-child:hover {
    background-color: #5a6268;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    .bomb-icon, .hatch-icon {
        width: 25px; /* Maior para telas menores */
        height: 25px;
    }

    .control-panel img {
        width: 8vw;
        max-width: 50px;
    }

    .map-viewer-container{
        margin-top: 15vw;
    }
}
