.map-viewer-container {
    position: relative;
    width: 87%;
    height: 100%;
    margin: auto;
}

.map-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.map-image {
    width: 100%; /* A imagem se ajusta ao contêiner */
    height: 100%; /* Manter a proporção da imagem */
    display: block;
    filter: brightness(1);

}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para garantir que os ícones não interfiram com cliques */
}

.bomb-icon {
    opacity: 70%;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%); /* Centralizar o ícone no ponto */
}

.hatch-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%); /* Centralizar o ícone no ponto */
}

/*.control-panel {*/
/*    position: absolute;*/
/*    bottom: 10px; !* Espaçamento da parte inferior *!*/
/*    left: 10px;   !* Espaçamento da parte esquerda *!*/
/*    background-color: rgba(255, 255, 255, 0.8); !* Fundo semi-transparente *!*/
/*    padding: 10px; !* Espaçamento interno *!*/
/*    border-radius: 5px; !* Bordas arredondadas *!*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); !* Sombra *!*/
/*    z-index: 10; !* Para garantir que fique acima de outros elementos *!*/
/*}*/

body {
    user-select: none; /* Impede seleção de texto */
}
img, button, a {
    -webkit-user-drag: none; /* Desabilita arrasto no Chrome e Safari */
    -moz-user-drag: none;    /* Desabilita arrasto no Firefox */
    -ms-user-drag: none;     /* Desabilita arrasto no IE */
    user-drag: none;         /* Padrão */
}

/*img:hover{*/
/*    filter: blur();*/
/*}*/
.icon-items {
    border: 0.1em solid rgb(30, 152, 239);
    display: inline-block;
}

.icon-items-erasing {
    border: 0.1em solid rgb(245, 85, 13);
    display: inline-block;
}


.control-panel {
    position: fixed;
    /*position: absolute;*/
    bottom: 10px; /* Espaçamento da parte inferior */
    left: 10px;   /* Espaçamento da parte esquerda */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredon   dadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 10; /* Para garantir que fique acima de outros elementos */
    display: grid; /* Usando Grid */
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); /* Ajusta as colunas automaticamente */
    gap: 10px; /* Espaçamento entre os itens */
    align-items: center; /* Alinhamento vertical */
}

.control-panel img {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    width: 40px; /* Ajuste o tamanho das imagens */
    height: auto; /* Manter a proporção das imagens */
}

.control-panel button {
    padding: 5px 10px; /* Ajuste o padding dos botões */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.icon-panel{
    margin-left: 8vw;
    margin-bottom: 1vh;
}

.persist-panel{
    margin-left: 8vw;
    margin-bottom: 15vh;
}

.slider-panel{
    margin-left: 8vw;
    margin-bottom: 85vh;
}

.wizard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Fundo mais escuro para foco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
}

.wizard-content {
    background: #f9f9f9; /* Cor de fundo suave */
    padding: 30px; /* Mais espaço para conteúdo */
    border-radius: 12px; /* Bordas mais arredondadas */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 350px; /* Ajuste do tamanho */
    max-width: 90%; /* Responsivo em telas menores */
    /*animation: fadeIn 0.4s ease-out; !* Efeito de animação *!*/
    text-align: center; /* Centralizar o texto */
}

.wizard-content h2 {
    font-size: 1.5rem;
    color: #333; /* Cor de título */
    margin-bottom: 20px;
}

.wizard-content h3 {
    margin: auto auto 5px;
    width: 20%;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    resize: none; /* Desabilitar redimensionamento */
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    color: #adacac;
    background-color: #ededed;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;

}

.wizard-content button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.wizard-content button:hover {
    background-color: #0056b3; /* Cor de hover */
}

.wizard-content button:last-child {
    background-color: #6c757d; /* Cor do botão de fechar */
    margin-right: 0;
}

.wizard-content button:last-child:hover {
    background-color: #5a6268; /* Cor de hover para fechar */
}

/* Animação de fade-in */
/*@keyframes fadeIn {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: scale(0.9);*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: scale(1);*/
/*    }*/
/*}*/

