.map-selector-container{
    padding: 10px;
    margin-left: 10px;
}

.map-selector-container select{
    font-family: 'Roboto', sans-serif; /* Definir uma fonte moderna */
    color: black; /* Texto preto */
    background-color: white; /* Fundo branco */
    font-weight: bold; /* Texto em negrito */
    padding: 5px; /* Padding para o conforto visual */
    border: 1px solid #ccc; /* Cor da borda */
    font-size: 14px; /* Define o tamanho da fonte */
    outline: none; /* Remove o contorno padrão ao focar */
    transition: border-color 0.3s ease; /* Suaviza a transição do foco */
    margin-right: 10px; /* Adiciona espaço entre os selects */

}

.map-selector-container select:focus {
    border-color: #E0E1DD; /* Cor da borda ao focar */
}

.map-selector-container select:last-child {
    margin-right: 0;
}

.bg-color-range-0{
    background-color: #0D1B2A;
}
.bg-color-range-1{
    background-color: #1B263B;
}
.bg-color-range-2{
    background-color: #415A77;
}
.bg-color-range-3{
    background-color: #778DA9;
}
.bg-color-range-4{
    background-color: #E0E1DD;
}

.color-range-0{
    color: #0D1B2A;
}
.color-range-1{
    background-color: #1B263B;
}
.color-range--2{
    background-color: #415A77;
}
.color-range-3{
    background-color: #778DA9;
}
.color-range-4{
    background-color: #E0E1DD;
}

.hamburger-btn {
    position: relative;
    left: 10px;
    background-color: #0D1B2A;
    color: #E0E1DD;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 101;
    border-radius: 8px;
    transition: background-color 0.3s ease;

}
.hamburger-btn:hover{
    background-color: #415A77;

}

.control-panel.operator-panel {
    display: flex;
    overflow-y: auto;
    border: none;
    opacity: 80%;
    align-content: flex-start;
    margin-top: auto;

}

.control-panel.operator-panel.open {
    left: 0;
    visibility: visible;
}

.operator-panel-title{
    width: 100%;
    color: #E0E1DD;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    padding: 10px;

}